<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="upperclass">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> CODE </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>CATEGORY </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> TYPE </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<div class="lowerclass">
  <div  class="type-width floatLeft">
    <div class="first-row">
      <div class="full-width">
        <div class="floatLeft">
          <mat-form-field class="code"> <!--class="example-full-width wheat border-radius"-->
            <input  matInput placeholder="CODE" >
          </mat-form-field>
        </div>
        <div class="floatLeft name_margin">
          <mat-form-field class="name">
            <input  matInput placeholder="NAME" >
          </mat-form-field>
        </div>
        <div class="floatLeft units_margin">
          <mat-form-field class="units">
            <input  matInput placeholder="UNITS" >
          </mat-form-field>
        </div>
        <div class="custom-control custom-switch floatLeft status_margin">
          <input type="checkbox" class="custom-control-input" id="switch0">
          <label class="custom-control-label" for="switch0">STATUS</label>
        </div>
      </div>
      <div>
        <mat-form-field class="description desc-width">
          <input  matInput placeholder="DESCRIPTION" >
        </mat-form-field>
      </div>
      <hr>
    </div>
    <div class="code-area">
      <div class="submit-row floatLeft full-width">
        <div class="custom-control custom-switch floatLeft some-margin">
          <input type="checkbox" class="custom-control-input" id="switch11">
          <label class="custom-control-label" for="switch11">SUBMIT TO INSURANCE</label>
        </div>
        <div class="floatLeft name_margin">
          <mat-form-field class="ADACODE">
            <input  matInput placeholder="ADACODE" >
          </mat-form-field>
        </div>
        <div class="floatLeft name_margin">
          <mat-form-field class="ICDCODE">
            <input  matInput placeholder="ICD CODE" >
          </mat-form-field>
        </div>
      </div>
      <div class="cat-row">
        <div class="floatLeft width-40">
          <mat-form-field class="category width-80">
            <input  matInput placeholder="CATEGORY" >
          </mat-form-field>
        </div>
        <div class="floatLeft width-40">
          <mat-form-field class="sub category width-80">
            <input  matInput placeholder="SUB CATEGORY" >
          </mat-form-field>
        </div>
      </div>
      <div class="custom-control custom-switch pat-row">
        <input type="checkbox" class="custom-control-input" id="switch2">
        <label class="custom-control-label" for="switch2">INCLUDE IN NEW PATIENT BREAKDOWN</label>
      </div>
      <hr>
    </div>
    <div class="recare-div">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switch3">
        <label class="custom-control-label" for="switch3">REQUIRES MULTIPLE VISIT</label>
      </div>
      <div class="table-width floatLeft">
        <table class="table table-dark table-hover">
          <thead>
          <tr>
            <th>ORDER</th>
            <th>DESCRIPTION</th>
            <th>UNITS</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input  matInput  ></td>
            <td><input  matInput  ></td>
            <td><input  matInput  ></td>
          </tr>
          <tr>
            <td><input  matInput  ></td>
            <td><input  matInput  ></td>
            <td><input  matInput  ></td>
          </tr>
          <tr>
            <td><input  matInput  ></td>
            <td><input  matInput  ></td>
            <td><input  matInput  ></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="container perfo-para floatLeft">
        <table class="table table-dark table-hover">
          <!--<thead>-->
          <tr>
            <th>PERFORMED BY</th>
          </tr>
          <!--</thead>-->
          <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck0" name="example1">
                <label class="custom-control-label" for="customCheck0">ASSISTANT</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1" name="example2">
                <label class="custom-control-label" for="customCheck1">DENTIST</label>
              </div>
            </td>

          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck2" name="example3">
                <label class="custom-control-label" for="customCheck2">HYGENIST</label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>


      </div>
      <div class="custom-control custom-switch margin-left-60">
        <input type="checkbox" class="custom-control-input" id="switch4">
        <label class="custom-control-label" for="switch4">GENERATE LAB CASE</label>
      </div>
      <div class="custom-control custom-switch margin-left-60">
        <input type="checkbox" class="custom-control-input" id="switch5">
        <label class="custom-control-label" for="switch5">REQUIRES POST -OP FOLLOW UP</label>
      </div>
      <div class="floatLeft name_margin width-37">
        <mat-form-field class="after">
          <input  matInput placeholder="AFTER" >
        </mat-form-field>
      </div>
      <div class="margin-left-60">
        <p>POST-OP DOCUMENT</p>
      </div>
      <div class="custom-file mb-3 width-20 margin-left-3">
        <input type="file" class="custom-file-input" id="customFile" name="filename">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <div class="custom-control custom-switch margin-left-60">
        <input type="checkbox" class="custom-control-input" id="switch6">
        <label class="custom-control-label" for="switch6">UPDATE RECARE AT CHECKOUT</label>
      </div>
    </div>
  </div>
  <div class="cost-tab floatRight">
    <table class="table table-dark table-hover">
      <thead>
      <tr>
        <th>FEE</th>
        <th>$120.00</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>CIGNA</td>
        <td>$79.00</td>
      </tr>
      <tr>
        <td>KEYSTONE</td>
        <td>$59.00</td>
      </tr>
      <tr>
        <td>ATENA</td>
        <td>$68.00</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="button-row margin-top-13 floatLeft">
    <button type="submit" mat-raised-button class="wheat border-radius">
      SAVE
    </button>
  </div>
  <div class="button-row floatLeft margin-top-13 margin-left-2">
    <button type="reset" mat-raised-button class="wheat border-radius">
      ADD NEW
    </button>
  </div>

</div>
