
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="upperclass">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> CODE </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>CATEGORY </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> TYPE </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>
<div class="lowerclass">
  <div  class="type-width">
    <mat-form-field class="code"> <!--class="example-full-width wheat border-radius"-->
      <input  matInput placeholder="CODE" >
    </mat-form-field><br>
    <mat-form-field class="name">
      <input  matInput placeholder="NAME" >
    </mat-form-field><br>
    <mat-form-field class="units">
      <input  matInput placeholder="UNITS" >
    </mat-form-field><br>
 <!--   <mat-form-field class="status">-->
  <!--    <input  matInput placeholder="STATUS" >-->
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switch0">
        <label class="custom-control-label" for="switch0">STATUS</label>
      </div><br>

    <!--</mat-form-field><br>
    --><mat-form-field class="description">
      <input  matInput placeholder="DESCRIPTION" >
    </mat-form-field><br>
    <hr>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch1">
      <label class="custom-control-label" for="switch1">SUBMIT TO INSURANCE</label>
    </div><br>

  <!--  <mat-form-field class="insurance">
      <input  matInput placeholder="SUBMIT TO INSURACE">
    </mat-form-field><br>-->
    <mat-form-field class="ADACODE">
      <input  matInput placeholder="ADACODE" >
    </mat-form-field><br>
    <mat-form-field class="ICDCODE">
      <input  matInput placeholder="ICD CODE" >
    </mat-form-field><br>
    <mat-form-field class="category">
      <input  matInput placeholder="CATEGORY" >
    </mat-form-field><br>
    <mat-form-field class="sub category">
      <input  matInput placeholder="SUB CATEGORY" >
    </mat-form-field>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch2">
      <label class="custom-control-label" for="switch2">INCLUDE IN NEW PATIENT BREAKDOWN</label>
    </div><br>
<hr>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch3">
      <label class="custom-control-label" for="switch3">REQUIRES MULTIPLE VISIT</label>
    </div><br>
    <table class="table table-dark table-hover">
      <thead>
      <tr>
        <th>ORDER</th>
        <th>DESCRIPTION</th>
        <th>UNITS</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
      </tr>
      <tr>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
      </tr>
      <tr>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
      </tr>
      </tbody>
    </table>


<div class="container">
    <table class="table table-dark table-hover">
      <!--<thead>-->
      <tr>
        <th>PERFORMED BY</th>
      </tr>
      <!--</thead>-->
      <tbody>
      <tr>
        <td>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck0" name="example1">
            <label class="custom-control-label" for="customCheck0">ASSISTANT</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
            <label class="custom-control-label" for="customCheck1">DENTIST</label>
          </div>
        </td>

      </tr>
      <tr>
        <td>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
            <label class="custom-control-label" for="customCheck2">HYGENIST</label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>


</div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch4">
      <label class="custom-control-label" for="switch4">GENERATE LAB CASE</label>
    </div><br>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch5">
      <label class="custom-control-label" for="switch5">REQUIRES POST -OP FOLLOW UP</label>
    </div><br>
    <mat-form-field class="after">
      <input  matInput placeholder="AFTER" >
    </mat-form-field><br>
    <p>POST-OP DOCUMENT</p>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="filename">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch6">
      <label class="custom-control-label" for="switch6">UPDATE RECARE AT CHECKOUT</label>
    </div><br>
    <div class="container">
    <table class="table table-dark table-hover">
      <thead>
      <tr>
        <th>FEE</th>
        <th>$120.00</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>CIGNA</td>
        <td>$79.00</td>
      </tr>
      <tr>
        <td>KEYSTONE</td>
        <td>$59.00</td>
      </tr>
      <tr>
        <td>ATENA</td>
        <td>$68.00</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="button-row">
      <button type="submit" mat-raised-button class="wheat border-radius">
        SAVE
      </button>
    </div>
    <div class="button-row">
      <button type="reset" mat-raised-button class="wheat border-radius">
        ADD NEW
      </button>
    </div>





</div>
</div>
