<div class="left">
        <mat-form-field class="payerID">
          <input  matInput placeholder="PAYER ID" >
        </mat-form-field>
        <div class="custom-control custom-switch style">
          <input type="checkbox" class="custom-control-input" id="switch0">
          <label class="custom-control-label" for="switch0">STATUS</label>
        </div><br>
          <mat-form-field class="PayerName">
            <input  matInput placeholder="PAYER NAME" >
          </mat-form-field>
  <br>
          <mat-form-field class="URL">
            <input  matInput placeholder="WEBSITE URL" >
          </mat-form-field>
  <br>

        <mat-form-field class="UserID">
          <input  matInput placeholder="USER ID" >
        </mat-form-field>
  <br>
        <mat-form-field class="Password">
          <input  matInput placeholder="PASSWORD" >
        </mat-form-field>
  <br>
        <div class="button-row margin-top-13 floatLeft">
          <button type="submit" mat-raised-button class="wheat border-radius">
            SAVE
          </button>
        </div>
</div>
