<div class="E&C">
  <h6>APPEALS ADDRESS</h6>
  <mat-form-field class="streetAddress">
    <input  matInput placeholder="STREET ADDRESS" >
  </mat-form-field>
  <br>
  <mat-form-field class="unit">
    <input  matInput placeholder="UNIT/SUITE" >
  </mat-form-field>
  &nbsp;
  <mat-form-field class="city">
    <input  matInput placeholder="CITY" >
  </mat-form-field>
  <br>
  <div class="form-group state-margin">
    <label for="sel1">STATE</label>
    <select class="form-control" id="sel1">
      <option>ALBAMA</option>
      <option>GEORGIA</option>
      <option>NEW JERSEY</option>
      <option>PA</option>
    </select>
  </div>

  <mat-form-field class="zipCode">
    <input  matInput placeholder="ZIP CODE" >
  </mat-form-field>
  &nbsp;

  <mat-form-field class="phone">
    <input  matInput placeholder="PHONE" >
  </mat-form-field>
  &nbsp;
  <mat-form-field class="fax">
    <input  matInput placeholder="FAX" >
  </mat-form-field>
  &nbsp;

  <mat-form-field class="email">
    <input  matInput placeholder="EMAIL" >
  </mat-form-field>
  &nbsp;
</div>


