<div class="container">
<h1>NEW PATIENT CALL-IN FORM</h1>
</div>
<form  class="type-width">
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="STAFF" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  type=date matInput placeholder="DATE" width="276" />
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="PRACTICE" >
  </mat-form-field>
  <hr>
  <h6>PATIENT INFORMATION</h6>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="PATIENT NAME" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="PHONE NUMBER" >
  </mat-form-field>

  <mat-form-field class="example-full-width wheat border-radius">
    <input  type=date matInput placeholder="DOB" width="276" />
  </mat-form-field>

  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="SS#" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="ADDRESS" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="APT#" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="CITY" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="STATE" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="ZIP CODE" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="EMAIL" >
  </mat-form-field>
  <hr>
  <h6>PARENT/GUARDIAN INFORMATION IF PATIENT IS AA MINOR</h6>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput  placeholder="RP NAME" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  type=date matInput placeholder="DOB" width="276" />
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="RELATIONSHIP" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="SS#" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput  placeholder="HOW DID YOU HEAR ABOUT US*" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="REASON FOR CALLING" >
  </mat-form-field>

  <hr>
  <h6>INSURANCE INFORMATION</h6>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="INSURANCE NAME" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="PHONE#" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="SUBSCRIBER ID" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="GROUP NAME" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="GROUP" >
  </mat-form-field>
  <h6>GET THE FOLLOWING IF THE SUBSCRIBER IS OTHER THAN THE PATIENT OR PARENT/GUARDIAN INFORMATION</h6>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="SUBSCRIBER NAME" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  type=date matInput placeholder="DOB" width="276" />
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="RELATIONSHIP" >
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="SS#" >
  </mat-form-field>
  <div class="custom-control custom-switch margin-left-60">
    <input type="checkbox" class="custom-control-input" id="switch6">
    <label class="custom-control-label" for="switch6">APPOINTMENT MADE</label>
  </div>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  type=date matInput placeholder="DATE" width="276" />
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput type="time" placeholder="TIME" width="276" />
  </mat-form-field>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="REASON" >
  </mat-form-field>
  <BR>
  <div class="custom-control custom-switch margin-left-60">
    <input type="checkbox" class="custom-control-input" id="switch7">
    <label class="custom-control-label" for="switch7"><B>INFORMED ABOUT OUR APPOINTMENT REMAINDER AND CANCELLATION POLICY</B></label>
  </div>
  <HR>
  <B>REMAINDER PREFERENCE</B><br>
  <INPUT type="CHECKBOX" id="TEXT"><label  for="TEXT">TEXT</label><br>
  <INPUT type="CHECKBOX" id="CALL"><label  for="CALL">CALL</label><br>
  <INPUT type="CHECKBOX" id="EMAIL"><label  for="EMAIL">EMAIL</label><br>
  <div class="table-width floatLeft">
    <table class="table  table-hover">
      <thead>
      <tr>
        <th>ADDITIONAL FAMILY MEMBER NAME</th>
        <th>DOB</th>
        <th>APPOINTMENT
       <!-- <TH>DATE</TH><TH>TIME</TH>
       --> </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
      </tr>
      <tr>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
      </tr>
      <tr>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
        <td><input  matInput  ></td>
      </tr>
      </tbody>
    </table>
    <hr>
  </div>








  <div class="button-row">
    <button type="submit" mat-raised-button class="wheat border-radius">
      SAVE
    </button>
  </div>
</form>


