<form  class="type-width">
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="NAME" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="ADDRESS" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="PHONE" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="FAX" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="EMAIL" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="WEBSITE" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="TIME ZONE" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="TAX ID" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="NPI" >
  </mat-form-field><br>
  <mat-form-field class="example-full-width wheat border-radius">
    <input  matInput placeholder="OWNER" >
  </mat-form-field>
  <div class="button-row">
    <button type="submit" mat-raised-button class="wheat border-radius">
      SAVE
    </button>
  </div>
</form>


